.hero {
    width: 100%;
    /* height: 100vh; */
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}


* {
    font-family: lucida grande, tahoma, verdana, arial, sans-serif;
}

#mePicture {
    border-radius: 50%;
    width: 100%;
    max-width: 250px;
}

#projectPic {
    border-radius: 0;
    width: 100%;
}

#socialMedia img {

    max-width: 70px;
    max-height: 70px;
    width: 100%;
    height: 100%;
}

#Centrao {
    align-items: center;
}

@media screen and (max-width: 56.25em) {

    #mediaRow {
        grid-template-columns: 1fr;
    }
}

.typed {

    font-family: lucida grande, tahoma, verdana, arial, sans-serif;
    font-size: 5vh;
    font-weight: bold;
}

.typed::after {
    content: "|";
    font-size: 150%;
    line-height: 30px;
    animation: blink .75s step-end infinite;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .typed {

        font-family: lucida grande, tahoma, verdana, arial, sans-serif;
        font-size: 3vh;
        font-weight: bold;
    }

    .typed::after {
        content: "l";
        font-size: 150%;
        line-height: 30px;
        animation: blink .75s step-end infinite;
    }
}

#skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.skills__skill {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f9fa;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 0.9rem;
    text-align: center;
    white-space: normal;
    /* Allows text to wrap */
}

.skills__skill.web {
    background-color: #cee5ff;
    /* Light blue for Web Development */
}

.skills__skill.programming {
    background-color: #fbb0b0;
    /* Light red for Python/Programming */
}

.skills__skill.database {
    background-color: #fbf0b0;
    /* Light orange for Database */
}

.skills__skill.other {
    background-color: rgb(205, 255, 225);
    /* Light purple for Other Skills */
}

.skills__skill:hover {
    background-color: #ffffff;
    transform: scale(1.05);
}

.skills__icon {
    margin-right: 5px;
    color: #007bff;
}
a {
    color: black;
    text-decoration: none
}

a :hover {
    color: rgb(10, 93, 182);
}